.feito {
	text-decoration: line-through;
	background-color: #d4d8dd;
}

.linkDisabled {
   color: #717477;
   pointer-events: none;
   cursor: default;
}

.excluido {
	display: none;
}

.divAdicionar {
	padding-top: 50px;
	padding-bottom: 50px;
}
